<a href={`${base}blog/${post.file.split('/').pop()?.replace('.md', '')}`}>
<a href={`${base}blog/${post.file.split('/').pop()?.replace('.md', '')}`} class="read-more">
<a href={`${base}categories`} class="back-link">← Back to All Categories</a> 